body{
	background-color:rgb(214,225,240);
}
.card{
	height: 500px;
	width: 400px;
	margin-left: 35%;
	background-color:rgb(255,255,255);
	margin-top: 5%;
	border-radius: 5%;
}
p{
	font-family: 'Roboto', sans-serif;
}
@media screen and (max-width:375px){
	.card{
		height: 500px;
		width: 80%;
	}
	.card img{
		width: 200px;
		height: 200px;
	}
}